# Regular Expressions:

In [9]:
import re

In [10]:
persons_weight1 = """Anil weight is 76 and anvitha weight is 55 
Sunil weight is 84 and mohit weight is 69"""

In [11]:
print(persons_weight1)

Anil weight is 76 and anvitha weight is 55
Sunil weight is 84 and mohit weight is 69

In [14]:
persons_name1 = re.findall(r'[A-Z][a-z]*',persons_weight1)
print(persons_name1)

['Anil', 'Sunil']

In [15]:
persons_weight = """Anil weight is 76 and Anvitha weight is 55 
Sunil weight is 84 and Mohit weight is 69"""

In [16]:
print(persons_weight)

Anil weight is 76 and Anvitha weight is 55
Sunil weight is 84 and Mohit weight is 69

In [17]:
persons_name = re.findall(r'[A-Z][a-z]*',persons_weight)
print(persons_name)

['Anil', 'Anvitha', 'Sunil', 'Mohit']

In [18]:
weight = re.findall(r'\d{2}',persons_weight)
print(weight)

['76', '55', '84', '69']

In [24]:
str = 'Her name is Lakshmi and Lakshmi is a good human being'
if re.search("Lakshmi",str):
    print('item found')
    match = re.findall('Lakshmi',str)
    print(match)
    for i in match:
        print(i)

item found
['Lakshmi', 'Lakshmi']
Lakshmi
Lakshmi

In [26]:
for i in re.finditer("Lakshmi",str):
    index = i.span()
    print(index)

(12, 19)
(24, 31)

In [28]:
str1 = "cat cut mat rat eat bat"
match = re.findall('[cmreb]at',str1)
print(match)

['cat', 'mat', 'rat', 'eat', 'bat']

In [32]:
str1 = "cat cut mat rat eat bat"
match = re.findall('[^mreb]at',str1)
print(match)

['cat']

In [33]:
str1 = "cat cut mat rat eat bat"
match = re.findall('[^cmreb]at',str1)
print(match)

[]

In [34]:
str1 = "cat cut mat rat eat bat"
match = re.findall('[^c-r]at',str1)
print(match)

['bat']

In [35]:
str1 = "cat cut mat rat eat bat"
match = re.findall('[b-r]at',str1)
print(match)

['cat', 'mat', 'rat', 'eat', 'bat']

In [43]:
a = re.compile('[e]at')
print(a)

re.compile('[e]at')

In [46]:
str2 = a.sub('sat',str1)
print(str2)

cat cut mat rat sat bat

In [47]:
str2 = a.sub('tiger',str1)
print(str2)

cat cut mat rat tiger bat

In [48]:
str2 = a.sub('Anaconda',str1)
print(str2)

cat cut mat rat Anaconda bat

In [51]:
str3 = '''good morning,
hello this yash.
Iam from India.
Nice to meet you'''

In [52]:
print(str3)

good morning,
hello this yash.
Iam from India.
Nice to meet you

In [60]:
b =re.compile('\n')
print(b)

re.compile('\n')

In [62]:
str4 = b.sub('',str3)
print(str4)

good morning,hello this yash.Iam from India.Nice to meet you

In [66]:
c = '1657843659'
print("no:of digits",len(re.findall('\d',c)))
print("no:of 5digits",len(re.findall('\d{5}',c)))
print("no:of alphabets",len(re.findall('\D',c)))

no:of digits 10
no:of 5digits 2
no:of alphabets 0

In [75]:
 d= 'Hii16578436593Bye'
print("no:of digits",len(re.findall('\d',d)))
print("no:of 9 digits",len(re.findall('\d{9}',d)))
print("no:of alphabets",len(re.findall('\D',d)))

no:of digits 11
no:of 9 digits 1
no:of alphabets 6