# Tuple

--> Tuple means the different datatypes of elements are enclosed within the paranthes is separated by comma.

--> Tuple is immutable.

--> It is somewhat similar to List.

# Creating the Tuple:

In [1]:
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

      or

In [2]:
t = tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [6]:
t1 = (2,)
print(t)
print(type(t))

(2,)
<class 'tuple'>

--> append() is not applicable in tuples because it is Immutable.

In [8]:
a = t.append(2)
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
t2 = (2,6,'Tom',8,9,[3,4,5], {2,8,9,6,2}, {'name':'Jenny'})
print(t2)

(2, 6, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

# Accessing the Elements from Tuple:

# Positive Indexing:

In [12]:
print(t2[2])

Tom

In [18]:
print(t2[0])

2

In [19]:
print(t2[4])

9

In [13]:
print(t2[5])

[3, 4, 5]

In [14]:
print(t2[5][1])

4

In [16]:
print(t2[7])

{'name': 'Jenny'}

In [17]:
print(t2[7]['name'])

Jenny

# Negative Indexing:

In [1]:
t2 = (2,6,'Tom',8,9,[3,4,5], {2,8,9,6,2}, {'name':'Jenny'})
print(t2)

(2, 6, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

In [2]:
print(t2[-1])

{'name': 'Jenny'}

In [3]:
print(t2[-3])

[3, 4, 5]

In [4]:
print(t2[-5])

8

In [5]:
print(t2[-2])

{8, 9, 2, 6}

In [6]:
print(t2[-3])

[3, 4, 5]

In [8]:
print(t2[-3][2])

5

In [9]:
print(t2[-3][-1])

5

In [10]:
print(t2[-6])

Tom

# Slicing:

In [25]:
print(t2)

(2, 6, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

              or

In [30]:
print(t2[:])

(2, 6, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

             or

In [27]:
print(t2[0:])

(2, 6, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

            or

In [28]:
print(t2[:len(t2)])

(2, 6, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

           or

In [29]:
print(t2[0:len(t2)])

(2, 6, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

In [32]:
print(t2[1:5])

(6, 'Tom', 8, 9)

In [35]:
print(t2[5:])

([3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

In [36]:
print(t2[5:6])

([3, 4, 5],)

In [39]:
print(t2[7:])

({'name': 'Jenny'},)

In [41]:
print(t2[6:7])

({8, 9, 2, 6},)

In [43]:
print(t2[0:2])

(2, 6)

In [44]:
print(t2[3:5])

(8, 9)

In [11]:
print(t2[-8:-2])

(2, 6, 'Tom', 8, 9, [3, 4, 5])

In [12]:
print(t2[-5:-1])

(8, 9, [3, 4, 5], {8, 9, 2, 6})

In [13]:
print(t2[-9:-4])

(2, 6, 'Tom', 8)

In [18]:
print(t2[-8:-2:1])

(2, 6, 'Tom', 8, 9, [3, 4, 5])

In [19]:
print(t2[-8:-2:2])

(2, 'Tom', 9)

In [21]:
print(t2[-6::-1])

('Tom', 6, 2)

# Reassigning the new values to the existing Tuple:

--> reassignment is not Possible in Tuple because it is Immutable.

In [11]:
t2[1] = 10
print(t2)

TypeError: 'tuple' object does not support item assignment

# Approach to reassign the value to the Tuple:

In [45]:
t2

(2, 6, 'Tom', 8, 9, [3, 4, 5], {2, 6, 8, 9}, {'name': 'Jenny'})

In [46]:
l = list(t2)
print(l)

[2, 6, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'}]

In [49]:
l[1] = 10
print(l)

[2, 10, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'}]

In [50]:
t2 = tuple(l)
print(t2)

(2, 10, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

# Deleting Elements from a Tuple:

In [7]:
t2 = (2,6,'Tom',8,9,[3,4,5], {2,8,9,6,2}, {'name':'Jenny'})
print(t2)

(2, 6, 'Tom', 8, 9, [3, 4, 5], {8, 9, 2, 6}, {'name': 'Jenny'})

In [8]:
del t2[1]

TypeError: 'tuple' object doesn't support item deletion

In [9]:
del t2[5]

TypeError: 'tuple' object doesn't support item deletion

In [11]:
del t2

NameError: name 't2' is not defined

# Basic Operations:
    
    +, *, len, min, max, sum, membership operator, iterations.

# Concatenation(+):

In [54]:
t3 = (20,40,60,'book',{'Product':'phone'},[3,9,8])
t4 = (6,9,7,5,{2,4,5,4,6,8})
t5 = t3 + t4
print(t5)

(20, 40, 60, 'book', {'Product': 'phone'}, [3, 9, 8], 6, 9, 7, 5, {2, 4, 5, 6, 8})

In [55]:
t6 = (29,47,83,90)
t7 = (65,92,15)
t8 = t6 + t7
print(t8)

(29, 47, 83, 90, 65, 92, 15)

# Repetition:

In [57]:
t6 = (29,47,83,90)
t7 = 2
t8 = t6 * t7
print(t8)

(29, 47, 83, 90, 29, 47, 83, 90)

      or

In [58]:
t6 = (29,47,83,90)
t8 = t6 * 2
print(t8)

(29, 47, 83, 90, 29, 47, 83, 90)

# len:

In [59]:
t9 = (67,98,62,54,23,71,'watch','child',[5,6,7,8,9])
print(len(t9))

9

# min:

In [62]:
t9 = (67,98,62,54,23,71)
print(min(t9))

23

# max:

In [63]:
t9 = (67,98,62,54,23,71)
print(max(t9))

98

# Sum:

In [19]:
t9 = (67,98,62,54,23,71)
print(sum(t9))

375

# Membership Operator:

In [64]:
t9 = (67,98,62,54,23,71)
a = 62 in t9
print(a)

True

In [65]:
t9 = (67,98,62,54,23,71)
a = 50 in t9
print(a)

False

In [3]:
t10 = (67,98,62,54,23,71, 'book')
a = 'b' in t10
print(a)

False

In [4]:
t10 = (67,98,62,54,23,71, 'book')
a = 'book' in t10
print(a)

True

# Iterative statement:

In [5]:
for i in t10:
    print(i)

67
98
62
54
23
71
book

          or

In [6]:
for i in range(len(t10)):
    print(t10[i])

67
98
62
54
23
71
book

# Built-In-Methods:

1. count()

2. index()

--> As like list, append(), extend(), insert(), remove(), pop(), sort() these methods are not applicable in tuple because Tuple is Immutable.

# count():

In [12]:
t11 = (24,56,87,93,29,17,24,56,24)
print(t11.count(24))

3

In [14]:
t12 = (24,56,87,93,29,17,24,56,24)
print(t12.count(87))

1

In [15]:
t12 = (24,56,87,93,29,17,24,56,24,93)
print(t12.count(93))

2

# index():

In [13]:
t11 = (24,56,87,93,29,17,24,56,24)
print(t11.index(24))

0

In [17]:
t11 = (24,56,87,93,29,17,24,56,24,93)
print(t11.index(17))

5